body {
    font-family: Arial, sans-serif;
    background-color: #352f5b;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

input {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
}

button:hover {
    background-color: #218838;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #423a6f;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.concluido {
    text-decoration: line-through;
    color: gray;
}

.btn-tarefa {
    background-color: #3538dc;
    margin-left: 5px;
}

.btn-tarefa:hover {
    background-color: #3a3cbb;
}